# ===== Logs =====
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===== Environment (no subir credenciales) =====
.env
.env.backup
.env.production
.env.local
.env.*
!.env.example

# ===== Composer / PHP =====
/vendor
composer.phar
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
.phpunit.cache

# ===== Laravel build/links =====
/public/build
/public/hot
/public/storage

# ===== Laravel storage =====
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/*
!/storage/app/public/.gitignore

# Cache de arranque
/bootstrap/cache/*.php

# ===== Node / Frontend =====
/node_modules
/dist

# 'vue-spa'
/vue-spa/node_modules/
/vue-spa/dist/
/vue-spa/.env
/vue-spa/.env.*
!/vue-spa/.env.examplee

# ===== SO / IDE =====
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed

# ===== Otros =====
/auth.json
Homestead.json
Homestead.yaml